{% extends "forums/base.html" %}
{% load i18n static inkscape %}
{% block title %}{% trans "Moderation Log" %}{% endblock %}
{% block "wrapper" %}
<div class="container-flex forums-app forums-moderationlog-list">
{% endblock "wrapper" %}
{% block "tools" %}
  <div class="alert alert-danger">
    <span class="glyphicon glyphicon-briefcase"></span> {% trans "This moderation log lists the actions taken by moderatiors on this website. Please contact the moderation team or systems administrator if you are having a problem with the forum moderation." %}
  </div>
  {{ block.super }}
{% endblock %}

{% block "content" %}
  <table class="table table-forum" data-pk="forum-{{ forum.pk }}">
    <tbody>
    {% for log in object_list %}
      <tr class="{% cycle 'odd' 'even' %} {{ log.get_log_color }}">
        <td class="subscribed forum-small-cells"><span class="glyphicon glyphicon-{{ log.get_log_icon }}"></span></td>
        <td class="view-message">{{ log.get_log_name }}</td>
        <td class="view-message">{{ log.moderator|default:"Doctor's ModBot" }}</td>
        <td class="view-message forum-small-cells text-muted">
          {% if log.comment %}
            <span class="glyphicon glyphicon-comment"></span> <a href="{{ log.comment.get_absolute_url }}">#{{ log.comment.pk }}</a>
          {% elif log.topic %}
            <span class="glyphicon glyphicon-list-alt"></span> <a href="{{ log.topic.get_absolute_url }}">{{ log.topic.subject }}</a>
          {% else %}
            {% if log.details.subject %}
              <span class="glyphicon glyphicon-list-alt"></span> {{ log.details.subject }}
            {% elif log.details.text %}
              <span class="glyphicon glyphicon-comment"></span> #{{ log.details.comment.id }}
            {% elif log.details.comment.id %}
            <span class="glyphicon glyphicon-remove-circle"></span> #{{ log.details.comment.id }}
            {% endif %}
          {% endif %}
        </td>
        <td class="view-message forum-small-cells text-muted">
          {% if log.user %}
            {% if not log.user.is_active %}
              <span class="glyphicon glyphicon-lock"></span>
            {% elif log.user.is_admin %}
              <span class="glyphicon glyphicon-briefcase"></span>
            {% else %}
              <span class="glyphicon glyphicon-user"></span>
            {% endif %}
            <a href="{{ log.user.get_absolute_url }}">{{ log.user }}</a>
          {% endif %}
        </td>
        <td class="view-message text-right text-muted"><span class="glyphicon glyphicon-time"></span> {{ log.performed|timetag }}</td>
      </tr>
    {% empty %}
      <tr>
          <td style="text-align: center;"><h1>{% trans "Nothing logged" %}</h1></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
